@media screen and (max-width: 1244px) {
  .header-logo {
    margin-left: 0%; }

  .header-wrapper {
    width: 35%; }

  .header-title {
    font-size: 54px; }

  .block-community__roles {
    margin-bottom: 0; }

  .block-community__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .block-community__wrapper {
    margin-top: 80px; }

  .poap-block__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .poap-block__wrapper {
    margin-right: 0;
    margin-top: 15px; }

  .grant-block__wrapper {
    margin-right: 75px; } }
@media screen and (max-width: 1000px) {
  .header-container__main {
    display: block; }

  .header-wrapper {
    width: auto;
    text-align: center; }

  .header-title {
    text-align: center; }

  .header-subtitle {
    text-align: center; }

  .header-block__img {
    margin-left: 20.5%; }

  .block-community {
    margin-top: 60px; }

  .block-community__subtitle {
    width: 68%; }

  .grant-block__wrapper {
    height: inherit; }

  .grant-wrapper__content {
    display: block;
    padding-left: 17%; }

  .footer-block {
    width: 80%;
    padding-left: 30px; } }
@media screen and (max-width: 755px) {
  .header-logo {
    margin-left: 1%; }

  .transitions {
    padding-right: 10px; }

  .header-block__img {
    margin-left: 8.5%; }

  .header-title {
    font-size: 44px; }

  .poap-block__wrapper {
    width: 550px; }

  .grant-wrapper__content {
    padding-left: 9.5%; }

  .links-block {
    right: 2px; } }
@media screen and (max-width: 680px) {
  .header-block__img {
    margin-left: 1.5%; }

  .grant-block {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none; }

  .grant-wrapper__content {
    padding-left: 3%; }

  .grant-block__wrapper {
    margin-right: 10px; }

  .grant-wrapper__title {
    font-size: 24px;
    line-height: 28px;
    text-align: center; }

  .grant-wrapper__subtitle {
    font-size: 16px;
    line-height: 24px;
    text-align: center; }

  .ecosys {
    display: none;
    margin: 0; }

  .ecosys-adaptive {
    display: block; }

  .ecosys-block__title {
    font-size: 24px;
    margin-top: 78px; }

  .ecosys-block__subtitle {
    font-size: 16px; }

  .adaptive-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 12px 0 12px;
    width: 324px; }

  .ecosys-card__btn button {
    background-color: #390099; }

  .ecosys-row__card {
    width: auto;
    padding: 0; }

  .ecosys-card__adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 348px;
    height: 200px; }

  .ecosys-card__text {
    padding-left: 0;
    width: 324px;
    padding: 12px; }

  .ecosys-card__title {
    font-size: 16px;
    line-height: 24px; }

  .ecosys-card__subtitle {
    font-size: 14px;
    line-height: 20px; }

  .ecosys-card__btn {
    height: auto; }

  .news-block__header {
    padding-top: 100px; }

  .news-block__title {
    font-size: 45px; }

  .news-block__wrapper {
    width: 348px;
    height: 96px; }

  .news-wrapper__img {
    display: none;
    margin: 0; }

  .news-adaptive__img {
    display: inline-block;
    padding-left: 12px;
    padding-right: 8px; }

  .news-wrapper__title {
    font-size: 16px; }

  .news-wrapper__subtitle {
    font-size: 14px; }

  .links {
    display: none; }

  .footer-block {
    display: none;
    margin: 0; }

  .footer-block__adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: -50px;
    margin-bottom: 40px; }

  .footer-community__adaptive {
    text-align: center; } }
@media screen and (max-width: 576px) {
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .header-adaptive__img {
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 58px; }

  .header-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    width: 346px; }

  .header-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    width: 346px; }

  .poap-block__wrapper {
    height: auto;
    margin-top: 0;
    width: 348px; }

  .poap-wrapper__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .poap-wrapper__text {
    padding-right: 0; }

  .poap-wrapper__img {
    padding: 5px 15px 0 15px; }

  .poap-wrapper__img img {
    width: 88px;
    height: 88px; }

  .header-block__img {
    display: none;
    margin: 0; }

  .grant-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .grant-block__wrapper {
    width: auto; }

  .grant-wrapper__text {
    display: none; }

  .grant-adaptive__text {
    display: block;
    margin: 0; }

  .poap-block__cards {
    display: none;
    margin: 0; }

  .slider {
    display: block; }

  .transitions {
    display: none;
    margin: 0;
    padding: 0; }

  .header-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }
@media screen and (max-width: 870px) {
  .article-header__headline {
    font-size: 30px; }

  .article-header__text {
    font-size: 18px; }

  .article-market__header {
    font-size: 26px; }

  .article-adaptive__image {
    display: block; }

  .article-text__img {
    display: none; }

  .article-header__image {
    display: none; }

  .article-text {
    padding-right: 26px; }

  .links-block {
    right: 2px; } }
@media screen and (max-width: 680px) {
  .article-block {
    padding: 0 12px; }

  .article-text {
    padding-right: 0; } }
@media screen and (max-width: 1244px) {
  .block-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .wrapper-search {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .Latest-block__title {
    margin-left: 0;
    text-align: center; }

  .Latest-block__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .Latest-block__wrapper {
    width: 840px; }

  .all-block__card {
    margin-top: 12px; } }
@media screen and (max-width: 1010px) {
  .all-block__title {
    text-align: center;
    margin-left: 0; } }
@media screen and (max-width: 944px) {
  .Latest-block__wrapper {
    width: 640px; } }
@media screen and (max-width: 700px) {
  .Latest-block__cards {
    margin-left: 60px; }

  .search-btn {
    padding: 10px 10px;
    margin-left: 5px; }

  .Latest-block__wrapper {
    width: 348px;
    height: 344px; }

  .Latest-wrapper__title {
    font-size: 15px;
    line-height: 18px; }

  .latest-wrapper__descr {
    padding-bottom: 0;
    font-size: 13px; }

  .Latest-wrapper__img {
    display: none; }

  .Latest-img__adaptive {
    display: block; }

  .Latest-wrapper__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 12px; }

  .all-block__cards {
    margin-left: 70px; } }

/*# sourceMappingURL=adaptive.css.map */