@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");




.container {
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  padding: 0 15px;
  
}
ul.li{
  list-style-type: none;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
 background-color: rgba(0, 0, 0, 0)
}
@media (max-width: 576px) {
  .navbar{
    display: block;

  }
    .navbar__wrap .menu {
      display: none;
      background-color: rgba(28, 28, 28, 1);
      margin-top: 29px;
      

    }
    .navbar__wrap{
      margin-top: 29px;
    }
    .hamb {
      display: flex;
      align-items: start;
    }
  
    .hamb__field {
      padding: 10px 16px;
      cursor: pointer;
    }
  
    .bar {
      display: block;
      width: 30px;
      height: 2px;
      margin: 6px auto;
      background-color: #fff;
      transition: 0.2s;
    }
  
    .popup {
      position: fixed;
      top: 75px;
      left: -100%;
      width: 100%;
      height: 185px;
      z-index: 100;
      display: flex;
      transition: 0.3s;
    }
  
    .popup.open {
      left: 0;
      background-color: rgba(28, 28, 28, 1);
      height: 328px;

      
    }
  
    .popup .menu {
      width: 100%;
      height: 151%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      overflow: auto;
      
    }
  
    .popup .menu > li {
      width: 100%;
      
    }
    ul.menu{
      position: absolute;
      top: -93px;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  
    .popup .menu > li > a {
      width: auto;
      display: flex;
      justify-content: start;
      align-items: center;
      margin-left: 21px;
      padding: 20px 0;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(237, 237, 237, 1);
      background-color: rgba(0, 0, 0, 0)
    }
  
    .popup .menu > li > a:hover {
     background-color: rgba(0, 0, 0, 0);
    }
  
    .hamb__field.active .bar:nth-child(2) {
      opacity: 0;
      
    }
  
    .hamb__field.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamb__field.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    body.noscroll {
      overflow: hidden;
    }
    .navbar.active{
      background-color: rgba(28, 28, 28, 1);
      transition: 0.3s;
      width: 100%;
    }
    .img-logo{
      width: 28px;
    }
    .menu-wrapper{
      display: flex;
      width: 100%;
      margin-left: -68px;
    }
    .links-media__btn{
      margin-left: 24px;
    }
    
  }
  @media (max-width: 500px) {

    .header-logo{
      display: flex;
      font-size: 24px;
    }
    .spec__header{
      margin-left: 7px;
    }
    .img-logo {
      width: 28px;
  }
  }

 @media screen and (max-width: 380px) {
  .header-logo{
   font-size: 20px;
  }
 }
  