* {
    box-sizing: border-box;
  }
  .slider {
    position: relative;
    width: 400px;
    height: 112px;
    user-select: none;
    touch-action: pan-y;
  }
  
  
  .slider-list {
    width: 400px;
    height: 163px;
    overflow: hidden;
  }
  
  .slider-list.grab {
    border-radius: 16px;
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    width: 400px;
    height: 163px;
    flex-shrink: 0;
    font-size: 50px;
    border: 1px solid #000;
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next,
  .prev {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  
  .next.disabled,
  .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }
  .img{
    display: inline-block;
  }
  .poap-wrapper__title{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    width: auto;
  
  
  }
  .poap-wrapper__subtitle{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    color: #fff;
    width: auto;

  
  
  }


@media screen and (max-width: 576px) {
 .slider {
  width: 340px;
  margin-left: -24px;
 }

 .slider-list {
  width: 340px;
 }

 .slide {
  width: 360px;
 }
   
}